# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-20.04
    steps:

    - script: |
        docker build -t repository.jfd-prod.x100platforma.com/docker-local/finance/x100group.jetti-server:$(tag) .
      displayName: 'Docker build'

    - task: ArtifactoryDocker@1
      inputs:
        command: 'push'
        artifactoryService: 'artifactory-x100'
        targetRepo: 'docker-local'
        imageName: 'repository.jfd-prod.x100platforma.com/docker-local/finance/x100group.jetti-server:$(tag)'
        collectBuildInfo: true
        buildName: '$(Build.DefinitionName)'
        buildNumber: '$(Build.BuildNumber)'

    - task: ArtifactoryPublishBuildInfo@1
      inputs:
        artifactoryService: 'artifactory-x100'
        buildName: '$(Build.DefinitionName)'
        buildNumber: '$(Build.BuildNumber)'
